on: 
  push:
    branches:
      - master
name: Deploy website on push
jobs:
  web-deploy:
    name: FTP-Deploy-action
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v2
    
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.3.0
      with:
        server: ftp.codeartssolution.com
        username: dev.erm@codeartssolution.com
        password: u,*p)fC.p&m}